/* Fonts */

@font-face {
    font-family: "PT Sans";
    src: local("PT Sans"),
         local("PT Sans Regular"),
         url("../fonts/PTSans.woff2") format("woff2"),
         url("../fonts/PTSans.woff") format("woff");
         font-weight: 400;
         font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: local("PT Sans Bold"),
         url("../fonts/PTSans-Bold.woff2") format("woff2"),
         url("../fonts/PTSans-Bold.woff") format("woff");
         font-weight: 700;
         font-style: normal;
}


/* Variables */

:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --light-blue: #81b3d2;
    --dark-blue: #669ec0;
    --basic-grey: #f2f2f2;
    --light-grey: #eeeeee;
    --extra-grey: #bdbbbc;
    --basic-brown: #333333;
    --extra-brown: #766357;
    --dark-brown: #604e43;
    --extra-dark-brown: #503e33;
    --extra-dark-blue: #5496bd;
    --rating-color: #666666;
    --shadow-color: rgba(0,1,1,0.2);
    --text-opacity-color: rgba(255, 255, 255, 0.3);
    --footer-opacity-color: rgba(255, 255, 255, 0.9);
    --toggle-grey: #ABABAB;
    --form-shadow: rgba(0, 1, 1, 0.15);
    --minus-plus-color: #a9a9a9;
    --input-hover-color: #ebebeb;
    --input-border-color: #e5e5e5;
}


/* Global */

.page {
    /* height: 100%; */
    width: 1200px;
    margin: 0 auto;
}

.page-body {
    min-width: 1200px;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    box-shadow: 0 15px 15px var(--shadow-color);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.page a {
    text-decoration: none;
}

.page img {
    max-width: 100%;
    height: auto;
}

.page a:focus {
    outline-color: var(--extra-dark-blue);
}

.center {
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Main Navigation */

.main-header-logo {
    display: block;
    position: relative;
    height: 70px;
    width: 138px;
    margin-bottom: -70px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.main-navigation {
    min-height: 56px;
    line-height: 26px;
    font-weight: 700;
}

.main-navigation-list {
    margin: 0;
    padding: 0;
    padding-top: 15px;
    list-style: none;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    text-align: left;
}

.main-navigation-list a {
    color: var(--basic-black);
    display: inline;
}

.main-navigation-item:nth-child(4n + 1) {
    margin-left: 72px;
}

.main-navigation-item:nth-child(4n) {
    text-align: right;
    margin-right: 73px;
}

.main-navigation-item:nth-child(4n-1) {
    text-align: right;
}

.main-navigation a:hover {
    color: var(--light-blue);
}

.main-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.main-navigation a:focus {
    color: var(--extra-brown);
}


/* Main Page */

.welcome-group-wrapper {
    background: var(--light-blue);
    background-image: url("../img/background-index.jpg");
    background-repeat: no-repeat;
    height: 432px;
    padding-top: 77px;
}

.shape {
    position: absolute;
    left: 41px;
    right: 41px;
    top: 508px;
}

.sedona-features {
    height: 156px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.sedona-features-header {
    width: 470px;
    margin: 0 auto;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-top: 44px;
    margin-bottom: 14px;
}

.sedona-features-text {
    width: 519px;
    margin: 0;
    padding: 0;
    margin-top: 45px;
    margin-right: 341px;
    margin-bottom: 54px;
    margin-left: 340px;
    color: var(--basic-brown);
}

.town {
    background: url("../img/image-1.jpg") no-repeat right;
}

.town-advantage {
    background-color: var(--light-blue);
    color: var(--basic-white);
    width: 400px;
    height: 212px;
    padding-bottom: 45px;
}

.advantages-header {
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    margin-top: 16px;
    margin-right: 139px;
    margin-bottom: 28px;
    margin-left: 139px;
    padding-top: 46px;
}

.advantage-number {
    margin: 0;
    padding: 0;
    margin-bottom: 23px;
}

.advantages-paragraph {
    width: 302px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 15px;
}


/* Bonuses */

.bonuses-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 313px;
    background-color: var(--basic-white);
    justify-content: space-between;
}

.bonuses-item {
    margin: 0 auto;
}

.bonuses-header {
    font-size: 21px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-top: 158px;
    margin-left: -2px;
    margin-bottom: 26px;
}

.bonuses-text {
    color: var(--basic-brown);
    width: 297px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.bonuses a {
    color: var(--basic-black);
}

.bridge-header {
    padding-top: 50px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    width: 150px;
    margin-right: 126px;
    margin-bottom: 26px;
    margin-left: 125px;
}

.item-house {
    background: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 110px 60px;
}

.item-food {
    background: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 110px 60px;
}

.item-souvenirs {
    background: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 115px 55px;
}

.bridge {
    background: url("../img/image-2.jpg") no-repeat left;
}

.bridge-advantage {
    position: relative;
    left: 800px;
    color: var(--basic-white);
    width: 400px;
    height: 256px;
    background-color: var(--light-blue);
}

.advantages-wrapper {
    background: var(--light-grey);
}

.advantages-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    min-height: 256px;
}

.area-header {
    margin-top: 1px;
    margin-right: 141px;
    margin-bottom: 26px;
    margin-left: 140px;
}

.road-header {
    margin-top: 1px;
    margin-right: 152px;
    margin-bottom: 26px;
    margin-left: 150px;
}

.tourists-header {
    margin-top: 1px;
    margin-right: 150px;
    margin-bottom: 26px;
    margin-left: 150px;
}

.advantages-text {
    color: var(--basic-brown);
    margin: 0;
    padding: 0;
}

.interested-header {
    font-size: 30px;
    margin: 0;
    padding: 0;
    margin-top: 57px;
    margin-right: 457px;
    margin-left: 446px;
    margin-bottom: 35px;
}

.search {
    background-color: var(--basic-white);
}

.search-button {
    width: 568px;
    height: 86px;
    font-size: 21px;
    font-weight: 700;
    background-color: var(--extra-brown);
    border: none;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--basic-white);
}

.search-button:hover {
    background-color: var(--dark-brown);
}

.search-button:active {
    background-color: var(--extra-dark-brown);
}

.search-text {
    margin: 0;
    padding: 0;
    line-height: 24px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 44px;
}

.map {
    height: 594px;
    background-color: var(--basic-light-brown);
    background-image: url("../img/content/map.png");
    margin-bottom: -120px;
}


/* Footer */

.page-footer {
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/map.png");
    background-color: var(--footer-opacity-color);
    text-align: center;
}

.contacts {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    height: 61px;
    margin-top: -11px;
    margin-left: 152px;

}

.sedona-tag {
    margin: 0;
    padding: 0;
    margin-bottom: 9px;
}

.sedona-tag:hover {
    text-decoration: underline;
}

.sedona-phone {
    margin: 0;
    padding: 0;
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: grid;
    grid-template-columns: 46px 46px 46px;
    column-gap: 6px; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
}

.social-list-item {
    padding: 0 3px;
}

.social-list-item a:hover {
    background-color: var(--dark-blue);
}

.social-list-item a:active {
    background-color: var(--extra-dark-blue);
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    margin-bottom: 0px;
    background-color: var(--light-blue);
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 204px;
    margin-top: 1px;
    margin-right: 131px;
}

.copyright-text {
    margin: 0;
    padding: 0;
    justify-self: end;
    align-self: center;
}

.html-logo {
    display: block;
    justify-self: start;
    align-self: center;
    margin-top: 6px;
    margin-right: 1px;
}

.html-logo:hover path {
    fill: var(--light-blue);
}

.html-logo:active path {
    fill: var(--extra-grey);
}

.contacts a {
    color: var(--basic-black);
}

.social a {
    color: var(--basic-black);
}



/* Стилизация внутренней страницы */


/* Checkbox-Filters */

.search-filter {
    min-height: 217px;
    color: var(--basic-white);
    background: url("../img/background-catalog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 72px;
    padding-right: 72px;
}

.search-filter-wrapper {
    display: grid;
    grid-template-columns: 253px 1fr 316px;
    padding: 26px 0 0;
}

.checkbox-filters {
    width: 140px;
    margin: 0;
    padding: 0;
    border: none;
}

.filter-label {
    margin-top: 25px;
    margin-left: 40px;
    position: relative;
    display: block;
    cursor: pointer;
}

.filter-title {
    display: block;
    font-size: 16px;
    font-weight: 700;
}

.filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -1px;
}

.house-type-list {
    margin-left: 2px;
}

.filter-list-item {
    font-weight: 400;
    margin-bottom: 25px;
}

.filter-list-item label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label::after {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.price-filter {
    width: 316px;
    margin: 0;
    padding: 0;
    border: none;
}

.scale {
    height: 2px;
    background: var(--text-opacity-color);
    margin-top: 20px;
}

.bar {
    width: 83%;
    height: 2px;
    background: var(--basic-white);
}

.toggle {
    position: absolute;
    top: -9px;
    left: 0;
    width: 3px;
    height: 3px;
    padding: 0;
    border-radius: 50%;
    border: 8px solid var(--basic-white);
    background-color: var(--basic-gray);
    box-shadow: 0 2px 0 0 var(--text-opacity-color);
    cursor: pointer;
}

.toggle:hover {
    transform: scale(1.2);
}

.toggle:focus {
    outline-color: var(--extra-dark-blue);
}

.toggle-min {
    left: 3%;
    margin-left: -9px;
}

.toggle-max {
    left: 83%;
    margin-left: -9px;
}

.filter-button {
    min-width: 137px;
    min-height: 36px;
    color: var(--basic-white);
    text-transform: uppercase;
    background: transparent;
    padding: 7px 35px;
    margin-left: 83px;
    border: 2px solid var(--basic-white);
    cursor: pointer;
}

.filter-button:hover {
    color: var(--basic-black);
    background: var(--basic-white);
}

.price-filter {
    margin-left: -2px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 317px;
    height: 36px;
    border-radius: 2px;
    margin-top: 12px;
}

.price-controls input::placeholder {
    color: var(--basic-white);
    margin-left: -2px;
}

.price-input {
    width: 50%;
    height: 32px;
    padding: 0;
    margin: 0;
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
    background: transparent;
    border: 2px solid var(--basic-white);
}

.range-controls {
    position: relative;
    margin-bottom: 33px;
}


/* Sorting Results */

.sorting-results {
    min-height: 86px;
    display: grid;
    grid-template-columns: 135px 128px 637px 1fr;
    /* display: flex;
    justify-content: space-between; */
    padding-left: 72px;
    padding-right: 72px;
}

.sorting-results a {
    color: var(--basic-black);
}

.sorting-paragraph {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    align-self: center;
    margin-top: 2px;
    margin-right: 10px;
}

.sorting-text {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    align-self: center;
    justify-self: center;
    margin-top: -5px;
    margin-left: 3px;
}

.sorting-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 49px 49px 76px;
    column-gap: 33px;
    margin-top: -3px;
    margin-left: 15px;
}

.sorting-list-item {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    align-self: center;
}

.sorting-list-item a{
    color: var(--basic-black);
    opacity: 0.3;
    text-decoration: underline dotted;
}

.sorting-list-item a:hover {
    color: var(--light-blue);
    opacity: 1;
    text-decoration: underline dotted;
}

.sorting-list-item a:active {
    color: var(--basic-black);
    opacity: 1;
    text-decoration: none;
}

.sorting-list-item a:focus {
    color: var(--light-blue);
    opacity: 1;
    text-decoration: none;
}

.selected-item{
    color: var(--light-blue);
}

.arrows {
    justify-self: end;
    align-self: center;
    margin-top: 6px;
    margin-right: -6px;
}

.increase-arrow {
    border: none;
    background: none;
}

.decrease-arrow {
    border: none;
    background: none;
}

.increase-arrow:hover path,
.decrease-arrow:hover path {
    fill: var(--basic-black);
}

.increase-arrow:active path,
.decrease-arrow:active path {
    fill: var(--light-blue);
}

.increase-arrow:focus path,
.decrease-arrow:focus path {
    fill: var(--light-blue);
}


/* Hotels */

.hotels-section {
    min-height: 453px;
    background-image: url("../img/line.png"),
                        url("../img/line.png"),
                        url("../img/line.png"),
                        url("../img/line.png");
    background-position: 0 0, 0 151px, 0 303px, 0 452px;
    background-repeat: no-repeat;
}

.hotels-list {
    margin: 0;
    padding: 0;
}

.hotels-list-item,
.sorting {
    display: grid;
    grid-template-columns: 135px 1fr auto;
    padding: 30px 73px;
    grid-gap: 28px;
}

.hotels-list-item {
    height: 90px;
}

.hotels-link {
    display: block;
    height: 90px;
    margin: 0;
    padding: 0;
    margin-top: 3px;
}

.hotel-title-link {
    display: block;
    width: 240px;
    height: 27px;
    margin-top: -4px;
    margin-bottom: 7px;
    margin-left: 1px;
    overflow: hidden;
    color: var(--basic-black);
}

.hotel-list-title {
    display: inline;
    width: 240px;
    line-height: 26px;
    font-size: 21px;
    font-weight: 700;
}

.hotels-link-text {
    font-size: 14px;
    line-height: 27px;
    font-weight: 700;
    color: var(--basic-white);
}

.hotel-title-link:hover {
    color: var(--light-blue);
}

.hotel-title-link:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.hotels-list-info,
.hotels-list-link {
    display: grid;
    grid-template-columns: 116px auto;
}
.hotels-detail-link {
    width: 110px;
    height: 27px;
    margin-top: 15px;
    background-color: var(--light-blue);
    text-align: center;
}

.hotels-detail-link:hover {
    background-color: var(--dark-blue);
}

.hotels-detail-link:active {
    background-color: var(--extra-dark-blue);
}

.hotels-reserve-link {
    width: 142px;
    height: 27px;
    margin-top: 15px;
    background-color: var(--extra-brown);
    text-align: center;
}

.hotels-reserve-link:hover {
    background-color: var(--dark-brown);
}

.hotels-reserve-link:active {
    background-color: var(--extra-dark-brown);
}

.rating-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}

.hotels-rating {
    width: 110px;
    height: 27px;
    line-height: 26px;
    text-align: center;
    vertical-align: bottom;
    color: var(--rating-color);
    background-color: var(--basic-grey);
    margin-top: auto;

}

.rating-star {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.star {
    width: 18px;
    height: 18px;
    margin-left: 6px;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
}

.star:last-child {
    margin-left: 0;
}

.star-off {
    display: none;
}

.search-form-container {
    position: relative;
    margin: 0 auto;
    width: 568px;
  }

.search-form-button {
    position: relative;
    width: 568px;
    height: 86px;
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--extra-brown);
    border: var(--extra-brown);
    z-index: 2;
    cursor: pointer;
}

.brown-button-style:hover {
    background-color: var(--dark-brown);
}

.brown-button-style:active {
    background-color: var(--extra-dark-brown);
    color: var(--text-opacity-color);
}

.search-form-button:focus {
    outline-color: var(--extra-dark-blue);
}

.search-form-up {
    position: relative;
    top: 0px;
    margin: 0 auto;
    width: 568px;
    transform: translateY(-395px);
    transition: 0.5s;
}
.search-form-down {
    position: relative;
    top: -395px;
    margin: 0 auto;
    width: 568px;
    transform: translateY(395px);
    transition: 0.6s;
}

.search-form-error {
    -webkit-animation: shake 0.4s;
            animation: shake 0.4s;
}

.search-form-alterror {
    -webkit-animation: altshake 0.3s;
            animation: altshake 0.3s;
}

@-webkit-keyframes shake {
    0%,
    100% {
    transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
    transform: translateX(-8px);
    }

    20%,
    40%,
    60%,
    80% {
    transform: translateX(8px);
    }

}
  @keyframes shake {
    0%,
    100% {
    transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
    transform: translateX(-8px);
    }

    20%,
    40%,
    60%,
    80% {
    transform: translateX(8px);
    }

}

@-webkit-keyframes altshake {
    0%,
    100% {
      transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
    transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
    transform: translateX(5px);
    }

}

  @keyframes altshake {
    0%,
    100% {
    transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
      transform: translateX(5px);
    }

}

.search-form {
    position: absolute;
    width: 458px;
    height: 285px;
    padding: 0;
    margin: 0 auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    box-shadow: 0px 7px 15px var(--form-shadow);
    background-color: var(--basic-white);
}

.search-form-grid {
    display: grid;
    width: 458px;
    height: 285px;
    grid-template-columns: 112px 114px 118px 114px;
    grid-template-rows: 38px 30px 38px 30px 38px 53px 58px;
    padding: 55px;
}

.arrival-date-label {
    text-align: left;
    margin: auto 0;
}

.arrival-date {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.departure-date-label {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    text-align: left;
    margin: auto 0;
}

.departure-date {
    grid-column: 2 / -1;
    grid-row: 3 / 4;
}

.adults-label {
    text-align: left;
    margin: auto 0;
}

.adults-label,
.kids-label,
.number-people {
    grid-row: 5 /6;
    margin: auto 0;
}

.travel-date {
    width: 330px;
    height: 34px;
    padding: 0;
    padding-left: 12px;
    background-color: var(--basic-grey);
    border: 2px solid var(--basic-grey);
    font-weight: 700;
}

.calendar {
    position: absolute;
    right: 63px;
    cursor: pointer;
}

.calendar:hover path {
    fill: var(--basic-black);
  }

.calendar:active path {
    fill: var(--light-blue);
}

.number-people:hover,
.travel-date:hover {
    background-color: var(--input-hover-color);
    border: 2px solid var(--input-hover-color);
}

.number-people:focus,
.travel-date:focus {
    outline: none;
    background-color: var(--basic-white);
    border: 2px solid var(--input-border-color);
}

  .button-outline:focus path {
    fill: var(--basic-black);
}

.button-outline:active path {
    fill: var(--light-blue);
  }

.number-people::-webkit-outer-spin-button,
.number-people::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.number-people {
    width: 110px;
    height: 34px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 700;
    background-color: var(--basic-grey);
    border: 2px solid var(--basic-grey);
    -moz-appearance: textfield;
    appearance: textfield;
}

.adults-label {
    position: relative;
}

.adults-minus-button {
    position: absolute;
    right: 370px;
    top: 202px;
    height: 12px;
    background-position: center center;
    border: none;
    cursor: pointer;
}

.adults-plus-button {
    position: absolute;
    right: 295px;
    top: 201px;
    height: 12px;
    background-color: var(--basic-grey);
    border: none;
    cursor: pointer;
}

.adults:hover ~ .adults-minus-button,
.adults:hover ~ .adults-plus-button {
    background-color: var(--input-hover-color);
}

.adults:focus ~ .adults-minus-button,
.adults:focus ~ .adults-plus-button {
    background-color: var(--basic-white);
  }
  .kids-label {
    position: relative;
    padding-left: 25px;
}

.kids-minus-button {
    position: absolute;
    right: 137px;
    top: 202px;
    height: 12px;
    background-color: var(--basic-grey);
    background-position: center center;
    border: none;
    cursor: pointer;
}

.kids-plus-button {
    position: absolute;
    right: 62px;
    top: 201px;
    height: 12px;
    background-color: var(--basic-grey);
    border: none;
    cursor: pointer;
}

  .kids:hover ~ .kids-minus-button,
  .kids:hover ~ .kids-plus-button {
    background-color: var(--input-hover-color);
}

  .kids:focus ~ .kids-minus-button,
  .kids:focus ~ .kids-plus-button {
    background-color: var(--basic-white);
}

  .button-outline:focus,
  .button-outline:active {
    outline: none;
}

  .button-outline:focus line {
    stroke: var(--basic-black);
}

  .button-outline line {
    stroke: var(--minus-plus-color);
}

  .button-outline:hover line {
    stroke: var(--basic-black);
}

.button-outline:active line {
    stroke: var(--light-blue);
  }

.search-button {
    grid-column: 1/-1;
    grid-row: -1/-2;
    width: 458px;
    height: 58px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--light-blue);
    border: none;
    cursor: pointer;
}
