/* Variables */
:root {
   --basic-black: #000000;
   --basic-extra-dark: #242424;
   --basic-dark: #aba9a7;
   --basic-neutral: #e5e5e5;
   --basic-extra-light: #f8f5f2;
   --basic-white: #ffffff;

   --special: #663d15;
}

body {
   min-width: 1200px;
   margin: 0;
   padding: 0;
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 14px;
   line-height: 21px;
   background: #888888;
   text-transform: uppercase;
   background-color: var(--basic-neutral);
   
}

.main-header-logo {
   position: absolute;
   top: 0;
   left: 531px;
   right: 531px;
}

.welcome-group {
   text-align: center;
   background-image: url("img/background-index.jpg");
   background-position: center;
   padding-top: 77.35px;
   padding-bottom: 80.76px;
}

h3, .search-button {
   font-size: 21px;
   font-weight: 700;
   }

header, main, footer {
   width: 1200px;
   margin: 0 auto;
}

nav {
   height: 70px;
   background-color: #fff;
}

ul {
display: flex;
margin: 0 auto;
}

li {
   font-weight: bold;
   padding: 30px;
   list-style-type: none;
   
}

a {
text-decoration: none;
color: inherit;
}

.main-header-logo {
   text-align: center;
}

.sedona-features {
   height: 216px;
   color: #000;
   background-color: #fff;
   text-align: center;
   height: 216px;
}

.sedona-features-header {
   width: 470px;
   margin: 0 auto;
   line-height: 26px;
   padding-top: 42.5px;
   padding-bottom: 16.5px;
}

.sedona-features-text {
   width: 519px;
   margin: 0 auto 51px auto;
   color: #333333;
   padding-bottom: 51px;
}

.town {
   background: url("img/image-1.jpg") no-repeat right;
}

.town-advantage {
   background-color: #81B3D2;
   text-align: center;
   color: white;
   width: 400px;
   height: 256px;
}

.advantages-header {
   padding-top: 47px;
   padding-right: 139px;
   padding-left: 139px;
   margin: 0 auto;
}

.advantages-paragraph {
   width: 302px;
   text-align: center;
   margin: 0 auto;
   padding-bottom: 54px;
}

.bonuses {
   display: flex;
   text-align: center;
   background-color: #fff;
   padding-top: 60px;

}

.item-house {
      background: url("img/icon-1.svg") no-repeat top;
      padding-top: 80px;
}

.item-food {
   background: url("img/icon-3.svg") no-repeat top;
      padding-top: 80px;
}

.item-souvenirs {
   background: url("img/icon-2.svg") no-repeat top;
      padding-top: 80px;
}

.bonuses-text {
   width: 254px;
}

.bridge {
   display: flex;
   background: url("img/image-2.jpg") no-repeat left;
}
.bridge-advantage {
   background-color: #81B3D2;
   text-align: center;
   color: white;
   width: 400px;
   height: 256px;
}

.bridge-header {
   padding: 50px 125px 0 126px;
}

.sedona-advantages {
   display: flex;
   width: 1200px;
   height: 256px;
   background: #EEEEEE;
   text-align: center;
}

.interested-header {
   padding-top: 58px;
   font-size: 30px;
   margin: 0 auto;
}

.search {
   text-align: center;
   background-color: var(--basic-white);
}

.search-button {
width: 568px;
height: 86px;
background-color: hsla(23, 15%, 40%, 1);
border: none;
text-transform: uppercase;
color: white;
}

.search-text {
   padding-bottom: 24px;
}

footer {
   background-image: url("img/map.png");
   background-color: var(--basic-white);
   height: 120px;
   display: flex;
}

.social {
   display: flex;
}