/* Fonts */

@font-face {
    font-family: "PT Sans";
    src: local("PT Sans"),
        local("PT Sans Regular"),
        url("../fonts/PTSans.woff2") format("woff2"),
        url("../fonts/PTSans.woff") format("woff");
        font-weight: 400;
        font-style: normal;
}

@font-face {
    font-family: "PT Sans";

    src: local("PT Sans Bold"),
        url("../fonts/PTSans-Bold.woff2") format("woff2"),
        url("../fonts/PTSans-Bold.woff") format("woff");
        font-weight: 700;
        font-style: normal;
}

/* Variables */

:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --light-blue: #81b3d2;
    --basic-grey: #f2f2f2;
    --light-grey: #eeeeee;
    --extra-grey: #bdbbbc;
    --basic-brown: #333333;
    --extra-brown: #766357;
    --dark-brown: #604e43;
    --extra-dark-brown: #503e33;
    --extra-dark-blue: #5496bd;
    --rating-color: #666666;
    --shadow-color: rgba(0,1,1,0.2);
    --extra-black: hsla(0, 0%, 0%, 1);
}

/* Global */

.page {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
}

.page-body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--basic-black);
    background-color: var(--basic-white);
    box-shadow: 0 15px 15px var(--shadow-color);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.page a {
    text-decoration: none;
}

.page a:focus {
    outline-color: var(--extra-dark-blue);
}

.center {
    text-align: center;
}

h3 {
    font-size: 21px;
    font-weight: 700;
}

.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}

/* Main Navigation */

.site-navigation a {
    color: var(--basic-black);
}

.sorting-results a {
    color: var(--basic-black);
}

.site-navigation {
    min-height: 56px;
    line-height: 26px;
    font-weight: 700;
}

.site-navigation-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / -1;
    grid-gap: 10px;
}

.site-navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.site-navigation-item {
    margin: 0 auto;
    padding: 15px 0;
}

.site-navigation a:hover {
    color: var(--light-blue);
}
.site-navigation a:focus {
    color: var(--extra-brown);
}

.main-header-logo {
    display: block;
    position: relative;
    height: 70px;
    width: 138px;
    margin-bottom: -70px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

/* Main Page */

.welcome-group-wrapper {
    background-image: url("../img/background-index.jpg");
    background-repeat: no-repeat;
    height: 432px;
    padding-top: 77px;
    text-align: center;
}

.shape {
    position: absolute;
    left: 40px;
    right: 40px;
    top: 508px;
}

.sedona-features {
    height: 216px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    height: 216px;
}

.sedona-features-header {
    width: 470px;
    margin: 0 auto;
    line-height: 26px;
    padding-top: 42px;
    padding-bottom: 16px;
}

.sedona-features-text {
   width: 519px;
   margin: 0 auto 51px auto;
   color: var(--basic-brown);
   padding-bottom: 51px;
}

.town {
   background: url("../img/image-1.jpg") no-repeat right;
}

.town-advantage {
   background-color: var(--light-blue);
   color: var(--basic-white);
   width: 400px;
   height: 256px;
}

.advantages-header {
   padding-top: 47px;
   padding-right: 139px;
   padding-left: 139px;
   margin: 0 auto;
}

.advantages-paragraph {
   width: 302px;
   margin: 0 auto;
   padding-bottom: 54px;
}

.bonuses-wrapper {
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.bonuses {
   display: flex;
   background-color: var(--basic-white);
   padding-top: 60px;
}

.bonuses a {
    color: var(--basic-black);
}

.item-house {
   background: url("../img/icon-1.svg") no-repeat top;
   padding-top: 80px;
}

.item-food {
   background: url("../img/icon-3.svg") no-repeat top;
   padding-top: 80px;
}

.item-souvenirs {
   background: url("../img/icon-2.svg") no-repeat top;
   padding-top: 80px;
}

.bonuses-text {
   color: var(--basic-brown);
   width: 254px;
   margin: 0 auto;
   padding-bottom: 20px;
}

.bridge {
   background: url("../img/image-2.jpg") no-repeat left;
   /* background-color: var(--light-blue); */
}
.bridge-advantage {
    position: relative;
    left: 800px;
    color: var(--basic-white);
    width: 400px;
    height: 256px;
    background-color: var(--light-blue);
}

.bridge-header {
   padding: 50px 125px 0 126px;
}

.sedona-advantages {
   width: 1200px;
   height: 256px;
   background: var(--light-grey);
}

.sedona-advantages-wrapper {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    height: 256px;
}

.advantages-item {
    margin: auto;
    padding: 40px;
}

.number, .sedona-advantages-text {
   color: var(--basic-brown);
}

.interested-header {
   padding-top: 58px;
   font-size: 30px;
   margin: 0 auto;
}

.search {
   background-color: var(--basic-white);
}

.search-button {
width: 568px;
height: 86px;
font-size: 21px;
font-weight: 700;
background-color: var(--extra-brown);
border: none;
vertical-align: middle;
text-transform: uppercase;
color: var(--basic-white);
}

.search-button:hover {
    background-color: var(--extra-brown);
}
.search-button:focus {
    background-color: var(--dark-brown);
}
.search-button:active {
    background-color: var(--extra-dark-brown);
}

.search-text {
   padding-bottom: 24px;
   line-height: 24px;
}



/* Footer */

.page-footer {
   background-image: url("../img/map.png");
   background-color: var(--basic-white);
   height: 120px;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.contacts {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sedona-tag {
    margin: 0;
    padding: 0;
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 46px 46px 46px;
    column-gap: 6px;
}

.social li{
    background-color: var(--light-blue);
    align-self: center;
    height: 48px;
}

.copyright {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 15px;
}

.copyright-text {
    margin: 0;
    padding: 0;
    justify-self: end;
    align-self: center;
}

.html-logo {
    justify-self: start;
    align-self: center;
}




/* Стилизация внутренней страницы */



/* Checkbox-Filters */

.search-filter {
    color: var(--basic-white);
    background: url("../img/background-catalog.jpg");
    padding-left: 72px;
}

.checkbox-filters {
    width: 140px;
    border: none;
    margin: 0;
    align-self: center;
}

.price-filter {
    border: none;
    padding: 0;
    margin: 0;
    align-self: center;
}

.filter-title {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 23px;
    padding-top: 26px;
}

.filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-list-item {
    font-weight: 400;
    padding-bottom: 23px;
}

.search-filter-grid {
    min-height: 217px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.price-filter .filter-title {
    padding-bottom: 10px;
}

.price-input {
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
    background: transparent;
    border: 2px solid var(--basic-white);
}

.filter-button {
    width: 137px;
    height: 36px;
    color: var(--basic-white);
    text-transform: uppercase;
    background: transparent;
    padding: 0;
    margin-top: 34px;
    border: 2px solid var(--basic-white);
}

/* Sorting Results */

.sorting-item {
    list-style: none;
}

.sorting-results {
    height: 86px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}

.sorting-paragraph {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 0;
    align-self: center;
    padding-left: 72px;
}

.sorting-text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    align-self: center;
}

.sorting-list {
    list-style: none;
    display: grid;
    grid-template-columns: 49px 49px 76px;
    column-gap: 32px;
}

.sorting-list-item {
    color: rgba(0, 0, 0, 1);
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    align-self: center;
}


.selected-item{
    color: var(--light-blue);
}

.arrows {
    justify-self: end;
    align-self: center;
    padding-right: 73px;
}

.increase-arrow {
    border: none;
    background: none;
}

.decrease-arrow {
    border: none;
    background: none;
}

/* Hotels */


.hotels-list,
.sorting {
  display: grid;
  grid-template-columns: 135px 1fr auto;
  padding: 30px 73px;
  grid-gap: 29px;
}
.hotels-list {
  height: 90px;
}
.hotels-link {
  display: block;
  height: 90px;
  margin: 0;
  padding: 0;
}
.hotel-title-link {
  display: block;
  margin-top: -5px;
  margin-bottom: 5px;
  width: auto;
  overflow: hidden;
  height: 27px;
  color: var(--basic-black);
}
.hotel-list-title {
  display: inline;
  width: 240px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.hotels-link-text {
  font-size: 14px;
  line-height: 27px;
  font-weight: 700;
  color: var(--basic-white);
}
.hotels-list-info,
.hotels-list-link {
  display: grid;
  grid-template-columns: 116px auto;
}
.hotels-detail-link {
  width: 110px;
  height: 27px;
  margin-top: 15px;
  background-color: var(--light-blue);
  text-align: center;
}

.hotels-reserve-link {
  width: 142px;
  height: 27px;
  margin-top: 15px;
  background-color: var(--extra-brown);
  text-align: center;
}
.rating-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}
.hotels-rating {
  width: 110px;
  height: 27px;
  line-height: 26px;
  text-align: center;
  vertical-align: bottom;
  color: var(--rating-color);
  background-color: var(--basic-grey);
  margin-top: auto;
}
.ratig-star {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}
.star {
  width: 18px;
  height: 18px;
  margin-left: 6px;
  background-image: url("/img/star.svg");
  background-repeat: no-repeat;
}
.star:last-child {
  margin-left: 0;
}
.star-off {
  display: none;
}

.contacts a {
    color: var(--basic-black);
}

.social a {
    color: var(--basic-black);
}
